<div class="browse">
  <div class="browse__head">
    <div class="browse__head__icon">
      <fa-icon class="icon--faStar" [icon]="faStar"> </fa-icon>
    </div>
    <h1>Lista completa de Animes</h1>
  </div>

  <form [formGroup]="formBrowser" (ngSubmit)="onSubmit()">
    <div class="browser__filters">
      <div class="filter__genrer">
        <button
          type="button"
          class="genrer__button"
          (click)="showFilterPopUp('genres')"
        >
          <span>
            <b>Genero:</b>
            Todos
          </span>
          <b> </b>
        </button>

        <!-- <ul> -->
          <app-filters
            class="genres__list"
            formControlName="genresCheckboxArray"
            [filterList]="genresList"
            [filterControls]="genresList"
            [ngClass]="{
              showg: showFilter == 'genres'
            }"
          ></app-filters>

          <!-- <li
            formArrayName="genresCheckboxArray"
            *ngFor="let genre of ordersFromArray.controls; let i = index"
          >
            <label [for]="genresList[i]">
              <input
                [formControlName]="i"
                [id]="genresList[i]"
                type="checkbox"
                multiple
              />
              <span>{{ genresList[i] }}</span>
            </label>
          </li> -->
        <!-- </ul> -->
      </div>

      <div>
        <button
          class="year__button"
          (click)="showFilterPopUp('years')"
          type="button"
        >
          <span>
            <b>Año:</b>
            Todos
          </span>
          <b> </b>
        </button>
      </div>

      <div>
        <button
          type="button"
          class="type__button"
          (click)="showFilterPopUp('types')"
          type="button"
        >
          <span>
            <b>Tipo:</b>
            Todos
          </span>
          <b> </b>
        </button>
      </div>

      <div>
        <button
          type="button"
          class="state__button"
          (click)="showFilterPopUp('state')"
        >
          <span>
            <b>Estado:</b>
            Todos
          </span>
          <b>
            <!-- <fa-icon [icon]="faCaretDown"></fa-icon> -->
          </b>
        </button>
      </div>

      <button class="filter_button" type="submit">
        <fa-icon [icon]="faFilter"></fa-icon>
        Filtrar
      </button>
    </div>

    Valido: {{ formBrowser.valid }}
    <br>
    children: {{ formBrowser.value|json }}
  </form>
</div>
