<div class="container-aside">
  <aside>
    <div class="aside-header">
      <div>ANIMES EN EMISIÓN</div>
      <div class="aside-header__icon">
        <fa-icon [icon]="faPlay"></fa-icon>
      </div>
    </div>
    <ul class="aside-body">
      <li *ngFor="let anime of animeList">
        <a href="#">
          <fa-icon [icon]="faPlayCircle"></fa-icon>
          <span>{{ anime.titles["en"] || anime.titles["rj"] }}</span>
          <span class="badge-type type-anime">ANIME</span>
        </a>
      </li>
    </ul>
  </aside>
</div>
