.container-aside {
  & aside {
    width: 300px;
    box-sizing: border-box;
    background-color: #181a1b;
    color: #bfb9b1;
    font-family: "Open Sans", sans-serif;
  }

  & aside .aside-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid #363636;

    & div:first-child {
      width: 100%;
      margin: auto 0;
      padding-left: 10px;
      font-weight: bold;
      font-size: 15px;
    }

    &__icon {
      width: 25px !important ;
      margin: auto;
    }

    & div fa-icon {
      color: #ff8b1a;
      font-size: 20px;
    }
  }

  & aside .aside-body {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      box-sizing: border-box;
      // ! Limita texto y poner puntos suspensivos segun el tamaño del div
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      a {
        display: block;
        width: 300px;
        height: 40px;
        box-sizing: border-box;
        text-decoration: none;
        color: #bfb9b1;
        white-space: nowrap;
        padding: 10px 75px 0 10px;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      a fa-icon {
        margin-right: 5px;
        color: #383838;
        transition: color 0.2s;
      }

      a span {
        font-size: 15px;
        transition: color 0.2s;
      }

      a span.badge-type {
        width: 35px;
        text-align: center;
      }
    }

    li:hover a {
      & > fa-icon,
      fa-icon + span {
        color: #22ccfe;
      }

      & > .type-anime {
        opacity: 1;
      }

      & > .type-movie {
        opacity: 1;
      }

      & > .type-ova {
        opacity: 1;
      }

      & > .type-other {
        opacity: 1;
      }
    }
  }
}

.badge-type {
  font-size: 10px !important;
  &.type-anime {
    opacity: 0.5;
  }
  &.type-movie {
    opacity: 0.5;
  }
  &.type-ova {
    opacity: 0.5;
  }
  &.type-other {
    opacity: 0.5;
  }
}
