.container-animes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 840px;
}

@media screen and (max-width: 1200px) {
  .container-animes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: auto;
    width: 660px;
  }
}
