<div class="shadow">
  <div class="card">
    <a href="#">
      <div class="card-subtitle">
        <span class="badge-type type-ova"
          >Episodio {{ anime.episodes_count }}</span
        >
        <fa-icon [icon]="faPlayCircle"></fa-icon>
      </div>
      <div class="card-body">
        <img src="{{ anime.cover_image }}" alt="" />
      </div>
      <div class="card-footer">
        <div class="card-footer__title">
          <div>{{ anime.titles["rj"] || anime.titles["en"] }}</div>
        </div>
      </div>
    </a>
  </div>
</div>
