<app-header></app-header>

<div
  class="container-home"
  [ngClass]="{
    show: ispageLoad
  }"
>
  <app-aside> </app-aside>
  <main>
    <div class="home-encabezado">
      <span class="home-title">Últimos episodios</span>
      <span class="badge-type type-anime">HOY</span>
    </div>

    <app-animes (loaded)="animesLoaded($event)"></app-animes>
  </main>
</div>
<app-footer [ispageLoad]="ispageLoad" ></app-footer>

<div
  class="container-spinners"
  [ngClass]="{
    'hide-spinner': ispageLoad
  }"
>
  <app-spinner></app-spinner>
  <app-spinner></app-spinner>
  <app-spinner></app-spinner>
</div>
