$width_header: 1140px;

.show-home{
  opacity: 1 !important;
}

.hide-spinner{
  display: none;
}

.container-home {
  box-sizing: border-box;
  padding-top: 100px;
  margin: 0 auto;
  width: $width_header;
  display: flex;
  gap: 20px;
  opacity: 0;

  & .home {
    &-encabezado {
      display: block;
      position: relative;
      padding: 5px 0;

      & .badge-type {
        right: 0;
        bottom: 5px;
        top: unset;
        font-size: 12px;
        padding: 7px 17px;
        border-radius: 20px;
        font-weight: 900;
        font-family: "open sans";
      }

      & .type-anime {
        background-color: #0196C2;
      }

      & .badge-type::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        margin: auto;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #0196C2;
      }
    }

    &-title {
      font-size: 25px;
      font-family: "open sans";
      color: #BFB9B1;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container-home {
    width: 640px;
  }
}
