/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

body {
  width: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  background-image: url("./assets/images/background.svg");

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #454a4d;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
  }

  &::-webkit-scrollbar-track {
    background: #202324;
  }
}

// badge
.badge-type {
  font-size: 10px;
  padding: 1px 10px;
  border-radius: 8px;
  color: #e7e7e7;
  position: absolute;
  top: 14px;
  right: 10px;

  &.type-anime {
    background-color: #0196c2;
  }

  &.type-movie {
    background-color: #c20101;
  }

  &.type-ova {
    background-color: #cc6500;
  }

  &.type-other {
    background-color: #7a00cc;
  }
}
